<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//myabtis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.mapper.userMapper">
    <select id="selectUser" resultType="com.wang.pojo.User">
        select * from user;
    </select>
</mapper>